$black: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);
$off-white: rgba(240, 240, 240, 1);
$overlay: rgba(0, 0, 0, 0.4);
$green: rgb(45, 185, 76);

$header-background: rgba(255, 255, 255, 1) !default;
$body-background: rgba(255, 255, 255, 1) !default;
$footer-background: $black !default;