@import "../../utilities/variables";
@import "../../utilities/mixins";
.Footer {
  min-height: inherit;
  &-container {
    display: flex;
  }
  &-logo {
    padding-left: 16px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: $green;
    font-size: 12px;
    p {
      margin: 0;
      padding: 0 8px;
      color: white;
    }
  }
  &-socials {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 16px;
  }
  &-social {
    cursor: pointer;
    color: white;
    margin: 5px;
  }
}
